<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>reviews.fyi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>reviews.fyi</h1>
        <div class="button-group">
            <a href="https://docs.google.com/spreadsheets/d/1-zusrK5JSwGjtHO-cVqurgi-zNg3zViryjlu95eABrE/edit?usp=sharing" class="main-btn">Search</a>
            <a href="/write" class="main-btn">Write</a>
        </div>
    </div>
</body>
</html>
