<nav class="navbar">
    <div class="container">
        <div class="navbar__content">
            <div class="navbar__brand">
                <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="reviews.fyi logo" class="navbar__logo">
                <a href="/" class="navbar__title">reviews.fyi</a>
            </div>
            
            <div class="navbar__links">
                <a href="/top-rated" class="navbar__link">
                    <i data-lucide="trending-up"></i>
                    Top Rated
                </a>
                <a href="/companies" class="navbar__link">
                    <i data-lucide="users"></i>
                    Companies
                </a>
            </div>
        </div>
    </div>
</nav>